<div class="col-md-3" th:fragment="sidebar">
    <div class="list-group sidebar">
        <a href="#" class="list-group-item list-group-item-action disabled sidebar-head">전체 관리</a>
        <a href="/admin" class="list-group-item list-group-item-action sidebar-body">전체 통계</a>
        <a href="/admin/statistics" class="list-group-item list-group-item-action sidebar-body">그래프 통계</a>
        <a href="/admin/category" class="list-group-item list-group-item-action sidebar-body">카테고리 관리</a>
        <a href="/admin/event/discount" class="list-group-item list-group-item-action sidebar-body">할인정책 관리</a>
        <hr>
        <a href="#" class="list-group-item list-group-item-action disabled sidebar-head">고객센터</a>
        <a href="/admin/user" class="list-group-item list-group-item-action sidebar-body">유저 관리</a>
        <a href="/manage/cs/inquiry" class="list-group-item list-group-item-action sidebar-body">문의 관리</a>
        <hr>
        <a href="#" class="list-group-item list-group-item-action disabled sidebar-head">제품/주문</a>
        <a href="/admin/product" class="list-group-item list-group-item-action sidebar-body">제품 관리</a>
        <a href="/admin/order" class="list-group-item list-group-item-action sidebar-body">주문 관리</a>
        <a href="/admin/event/discount" class="list-group-item list-group-item-action sidebar-body">리뷰관리</a>
        <hr>
        <a href="#" class="list-group-item list-group-item-action disabled sidebar-head">MY 정보</a>
        <a href="/profile/edit" class="list-group-item list-group-item-action sidebar-body">개인정보확인/수정</a>
        <a href="/delivery/address/manage" class="list-group-item list-group-item-action sidebar-body">배송지 관리</a>
    </div>
</div>
