<div class="col-md-3" th:fragment="sidebar">
    <div class="list-group mypage-sidebar">
        <a href="#" class="list-group-item list-group-item-action disabled mypage-sidebar-head">통계</a>
        <a href="/admin" class="list-group-item list-group-item-action mypage-sidebar-body">전체 통계</a>
        <a href="/admin/statistics" class="list-group-item list-group-item-action mypage-sidebar-body">그래프 통계</a>
        <hr>
        <a href="#" class="list-group-item list-group-item-action disabled mypage-sidebar-head">고객센터</a>
        <a href="/admin/user" class="list-group-item list-group-item-action mypage-sidebar-body">유저 관리</a>
        <a href="/manage/cs/inquiry" class="list-group-item list-group-item-action mypage-sidebar-body">문의 관리</a>
        <hr>
        <a href="#" class="list-group-item list-group-item-action disabled mypage-sidebar-head">관리하기</a>
        <a href="/admin/product" class="list-group-item list-group-item-action mypage-sidebar-body">문의하기</a>
        <a href="/admin/order" class="list-group-item list-group-item-action mypage-sidebar-body">문의내역 확인</a>
        <a href="/admin/event/discount" class="list-group-item list-group-item-action mypage-sidebar-body">리뷰관리</a>
        <hr>
        <a href="#" class="list-group-item list-group-item-action disabled mypage-sidebar-head">MY 정보</a>
        <a href="/profile/edit" class="list-group-item list-group-item-action mypage-sidebar-body">개인정보확인/수정</a>
        <a href="/delivery/address/manage" class="list-group-item list-group-item-action mypage-sidebar-body">배송지 관리</a>
    </div>
</div>
