<div class="col-md-3" th:fragment="sidebar">
    <div class="list-group sidebar">
        <a href="#" class="list-group-item list-group-item-action disabled sidebar-head">< MY 쇼핑 ></a>
        <a href="/order/list" class="list-group-item list-group-item-action sidebar-body">주문목록/배송조회</a>
        <a href="/order/cancel" class="list-group-item list-group-item-action sidebar-body">취소/반품/교환/환불 내역</a>
        <a href="/subscription/manage" class="list-group-item list-group-item-action sidebar-body">정기구독상품관리</a>
        <a href="/receipts" class="list-group-item list-group-item-action sidebar-body">영수증 조회/출력</a>
        <a href="#" class="list-group-item list-group-item-action disabled sidebar-head">< MY 혜택 ></a>
        <a href="/coupons" class="list-group-item list-group-item-action sidebar-body">할인쿠폰</a>
        <a href="/points" class="list-group-item list-group-item-action sidebar-body">적립금</a>
        <a href="#" class="list-group-item list-group-item-action disabled sidebar-head">< MY 활동 ></a>
        <a href="/inquiries/new" class="list-group-item list-group-item-action sidebar-body">문의하기</a>
        <a href="/inquiries" class="list-group-item list-group-item-action sidebar-body">문의내역 확인</a>
        <a href="/reviews" class="list-group-item list-group-item-action sidebar-body">리뷰관리</a>
        <a href="/favorites" class="list-group-item list-group-item-action sidebar-body">찜 리스트</a>
        <a href="/orders/reorder" class="list-group-item list-group-item-action sidebar-body">다시 구매</a>
        <a href="#" class="list-group-item list-group-item-action disabled sidebar-head">< MY 정보 ></a>
        <a href="/profile/edit" class="list-group-item list-group-item-action sidebar-body">개인정보확인/수정</a>
        <a href="/payment/manage" class="list-group-item list-group-item-action sidebar-body">결제수단관리</a>
        <a href="/delivery/address/manage" class="list-group-item list-group-item-action sidebar-body">배송지 관리</a>
    </div>
</div>
