<div class="container topBar" th:fragment="content"
     th:with="isAuthenticated=${#authorization.expression('isAuthenticated()')}">
    <div class="navbar">
        <a href="/"><img src="/img/logo.png" class="logo"/></a>

        <!-- 상품 카테고리 링크 -->
        <div class="nav-search">
            <form  action="/product/search" method="get">
                <input type="text" placeholder="찾고 싶은 상품을 검색해보세요!" name="q" class="search-input">
                <button type="submit" class="search-button">
                    <img src="/img/navbar/search.png" alt="Search">
                </button>
            </form>
        </div>

        <!-- 사용자 관련 액션 -->
        <div class="user-actions">
<!--            <a class="nav-item nav-link" href="/login" th:if="${!isAuthenticated}">로그인</a>-->
<!--            <a class="nav-item nav-link" href="/register" th:if="${!isAuthenticated}">회원가입</a>-->
            <a class="nav-item nav-link" href="/order/list"><img src="/img/navbar/mypage.png" class="nav_img"/></a>
            <a class="nav-item nav-link" href="/cart"><img src="/img/navbar/cart.png" class="nav_img"/></a>
            <a class="nav-item nav-link" href="/seller" th:if="${#authorization.expression('hasRole(''판매자'')')}"><img src="/img/navbar/sellerpage.png" class="nav_img"/></a>
            <a class="nav-item nav-link" href="/admin" th:if="${#authorization.expression('hasRole(''관리자'')')}"><img src="/img/navbar/adminpage.png" class="nav_img"/></a>
            <a class="nav-item nav-link" href="/logout" th:if="${isAuthenticated}"><img src="/img/navbar/logout.png" class="nav_img"/></a>
        </div>
    </div>
</div>