<div class="col-md-3" th:fragment="sidebar">
    <div class="list-group sidebar">
        <a href="#" class="list-group-item list-group-item-action disabled sidebar-head">통계</a>
        <a href="/seller" class="list-group-item list-group-item-action sidebar-body">home</a>
        <a href="/seller/sales" class="list-group-item list-group-item-action sidebar-body">통계</a>
        <hr>
        <a href="#" class="list-group-item list-group-item-section disabled sidebar-head">manage</a>
        <a href="/seller/products" class="list-group-item list-group-item-action sidebar-body">제품 관리</a>
        <a href="/seller/orders" class="list-group-item list-group-item-action sidebar-body">주문 관리</a>
        <a href="/seller/coupon/list" class="list-group-item list-group-item-action sidebar-body">쿠폰</a>
        <hr>
        <a href="#" class="list-group-item list-group-item-action disabled sidebar-head">cs</a>
        <a href="/seller/reviews" class="list-group-item list-group-item-action sidebar-body">리뷰 관리</a>
        <a href="/seller/inquiries" class="list-group-item list-group-item-action sidebar-body">문의 관리</a>
        <hr>
        <a href="#" class="list-group-item list-group-item-action disabled sidebar-head">MY 정보</a>
        <a href="/seller/profile/edit" class="list-group-item list-group-item-action sidebar-body">개인정보확인/수정</a>
        <a href="/seller/inquiries/new" class="list-group-item list-group-item-action sidebar-body">문의하기</a>
        <a href="/seller/inquiries/list" class="list-group-item list-group-item-action sidebar-body">문의내역 확인</a>
    </div>
</div>
