<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>상품 등록</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <style>
        .container {
            max-width: 560px;
        }

        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>
<div th:replace="~{common/navBar :: content}"></div>

<div class="container my-4">
    <h2 th:text="#{page.addProduct}">상품 등록</h2>
    <form th:action="@{/product/add}" th:object="${product}" method="post" class="row g-3" enctype="multipart/form-data">

        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">
                글로벌 오류 메시지
            </p>
        </div>

        <div class="col-md-6">
            <label for="productName" class="form-label" th:text="#{label.product.name}">상품명</label>
            <input type="text" th:field="*{productName}"
                   th:errorclass="field-error" class="form-control" id="productName" placeholder="상품명을 입력하세요">
        </div>
        <div class="field-error" th:errors="*{productName}">
            상품명 오류
        </div>

        <div class="col-md-6">
            <label for="price" class="form-label" th:text="#{label.product.price}">가격</label>
            <input type="number" th:field="*{price}"
                   th:errorclass="field-error" class="form-control" id="price" placeholder="가격을 입력하세요">
        </div>
        <div class="field-error" th:errors="*{price}">
            가격 오류
        </div>

        <div class="col-12">
            <label for="description" class="form-label" th:text="#{label.product.description}">상품 설명</label>
            <textarea class="form-control" th:field="*{description}"
                      th:errorclass="field-error"
                      id="description" placeholder="상품 설명"
                      rows="3"></textarea>
        </div>
        <div class="field-error" th:errors="*{description}">
            description 오류
        </div>

        <div class="col-md-6">
            <label for="stock" class="form-label" th:text="#{label.product.stock}">재고</label>
            <input type="number" th:field="*{stock}"
                   th:errorclass="field-error" class="form-control" id="stock" placeholder="재고를 입력하세요">
        </div>
        <div class="field-error" th:errors="*{stock}">
            stock 오류
        </div>
<!--
        <div class="col-md-6">
            <label for="imageURL" class="form-label" th:text="#{label.product.imageURL}">이미지 URL</label>
            <input type="text" class="form-control" th:field="*{imageURL}" id="imageURL" placeholder="이미지 URL">
        </div>-->

        <div class="col-md-6">
            <label for="salesRegions" class="form-label" th:text="#{label.product.region}">판매 지역</label>
            <select multiple="multiple" class="form-control" id="salesRegions" th:field="*{salesRegions}">
                <option th:each="region : ${allSalesRegions}" th:value="${region}" th:text="${region}"></option>
            </select>
        </div>
        <div class="field-error" th:errors="*{salesRegions}">
            salesRegions 오류
        </div>

        <!-- 판매자 ID를 숨김 필드로 추가 -->
        <input type="hidden" th:field="*{user.userID}"/>

        <div class="col-12">
            <button type="submit" class="btn btn-primary" th:text="#{page.addProduct}">상품 등록</button>
        </div>

        <div class="col-md-6">
            <label for="image" class="form-label">이미지 업로드</label>
            <input type="file" name="image" class="form-control" id="image">
        </div>

    </form>
</div>

<!-- Bootstrap JS 및 의존성 스크립트 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
