<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>제품 관리</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{admin/common/navBar :: content}"></div>
<div class="container mt-5">
    <h2>제품 관리</h2>
    <div class="my-3">
        <a href="/admin/product/add" class="btn btn-success">제품 추가</a>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>제품명</th>
                <th>설명</th>
                <th>가격</th>
                <th>재고량</th>
                <th>카테고리</th>
                <th>조치</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${products}" th:data-product-id="${product.productID}">
                <td th:text="${productStat.index + 1}"></td>
                <td th:text="${product.productName}"></td>
                <td th:text="${product.description}"></td>
                <td th:text="${product.price}"></td>
                <td th:text="${product.stock}"></td>
                <td th:text="${product.category}"></td>
                <td>
                    <a th:href="@{'/admin/product/edit/' + ${product.productID}}" class="btn btn-primary btn-sm">수정</a>
                    <a th:href="@{'/admin/product/delete/' + ${product.productID}}" class="btn btn-danger btn-sm" onclick="return confirm('해당 제품을 삭제하시겠습니까?');">삭제</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
