<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>주문 페이지</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script th:src="'https://www.paypal.com/sdk/js?client-id='+${paypalClientId}"></script>
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <style>
        body {
            padding-top: 60px;
            font-family: 'Noto Sans KR', sans-serif;
            background-color: #f8f9fa;
        }
        .table {
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
        .table th, .table td {
            vertical-align: middle;
        }
        .total-price {
            font-size: 1.2rem;
            font-weight: bold;
            margin-top: 20px;
            text-align: center;
        }
        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
        }
        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #0056b3;
        }
        .payment-section {
            display: flex;
            justify-content: center;
        }
        /* PayPal 버튼을 감싸는 컨테이너에 대한 스타일 */
        #paypal-button-container {
            min-width: 500px; /* PayPal 버튼의 최소 너비를 지정 */
        }

        .selected {
            background-color: #007bff; /* Bootstrap의 기본 파란색 */
            color: white; /* 텍스트 색상을 흰색으로 */
            font-weight: bold; /* 글자를 굵게 */
            border: 2px solid #0056b3; /* 좀 더 진한 파란색 테두리 */
            border-radius: 5px; /* 모서리를 둥글게 */
            margin-bottom: 5px; /* 항목 사이의 간격 */
            cursor: pointer; /* 마우스 오버 시 커서 변경 */
        }

    </style>
</head>
<body>
<div th:replace="~{common/navBar :: content}"></div>
<div class="container mt-4">
    <h2 class="mb-3">제품 주문</h2>

    <form th:action="@{/order}" method="post" id="orderForm">
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>제품명</th>
                    <th>가격</th>
                    <th>수량 선택</th>
                    <th>쿠폰 선택</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item, itemStat : ${items}">
                    <td th:text="${item.product.productName}"></td>
                    <td th:text="${#numbers.formatDecimal(item.product.price, 0, 'COMMA', 0, 'POINT')} + '원'" th:data-price="${item.product.price}"></td>
                    <td>
                        <label>
                            <input type="number" th:name="'quantity' + ${itemStat.index}" min="1" th:value="${item.quantity}" class="form-control">
                        </label>
                    </td>
                    <td>
                        <input type="hidden" th:name="'product_' + ${itemStat.index}" th:value="${item.product.productID}">
                    </td>
                    <!-- 쿠폰 선택 버튼 추가 -->
                    <td>
                        <button type="button" class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#couponModal"
                                th:data-productid="${item.product.productID}" th:data-totalprice="${item.product.price * item.quantity}">쿠폰 선택</button>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>
        <!-- 쿠폰 적용 정보 표시 -->
        <div id="appliedCouponInfo" class="alert alert-success" style="display: none;">
            적용된 쿠폰: <span id="appliedCouponName"></span>
        </div>
        <!-- 총 가격 표시 -->
        <div class="total-price">
            총 가격: <span id="totalPrice">0</span>원
        </div>
        <!-- 결제 방식 선택 -->
        <div class="mb-3">
            <label for="paymentMethod" class="form-label">결제 방식</label>
            <select class="form-select" id="paymentMethod" name="paymentMethod">
                <option value="Credit Card">신용카드</option>
                <option value="Kakao Pay">카카오페이</option>
                <option value="Bank Transfer">무통장입금</option>
            </select>
            <input type="hidden" name="paymentResult">
        </div>
        <div class="payment-section">
            <div id="paypal-button-container"></div>
            <input type="hidden" name="paymentResult" id="paymentResult" value="">
        </div>
        <!-- 총 가격을 저장할 hidden input, 폼 제출 시 사용 -->
        <input type="hidden" name="totalPrice" id="hiddenTotalPrice" value="0">
        <button type="submit" class="btn btn-primary">주문하기</button>
    </form>
</div>
<!-- 모달 컴포넌트 추가 -->
<div class="modal fade" id="couponModal" tabindex="-1" aria-labelledby="couponModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="couponModalLabel">사용 가능한 쿠폰</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- 쿠폰 목록 표시 -->
                <ul id="couponList" class="list-group">
                    <!-- 여기에 AJAX를 통해 받아온 쿠폰 목록을 동적으로 추가 -->
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                <button type="button" class="btn btn-primary" id="applyCoupon">적용</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        // 쿠폰 모달을 열었을 때의 이벤트 핸들러
        $('#couponModal').on('show.bs.modal', function (e) {
            var button = $(e.relatedTarget); // 모달을 트리거한 버튼
            var productID = button.data('productid'); // 버튼의 data-productId 속성 값
            var totalPrice = button.data('totalprice'); // 버튼의 data-totalPrice 속성 값

            // selectedCoupon 객체를 초기화합니다.
            window.selectedCoupon = {
                couponId: null,
                productID: productID,
                totalPrice: totalPrice
            };

            $.ajax({
                url: '/find/coupon', // 쿠폰 정보를 조회할 서버의 URL
                method: 'POST',
                contentType: "application/json",
                data: JSON.stringify({
                    productID: productID,
                    totalPrice: totalPrice
                }),
                success: function(couponList) {
                    var couponListHtml = '';
                    $.each(couponList, function(i, coupon) {
                        couponListHtml += '<li class="list-group-item coupon-item" ' +
                            'data-couponid="'+ coupon.couponID +'" ' +
                            'data-totalPrice="'+ totalPrice +'" '+
                            'data-productID="'+ productID + '" '+
                            '>' + coupon.name + ' - 설명: ' + coupon.description + '</li>';
                    });
                    $('#couponList').html(couponListHtml);
                },
                error: function() {
                    alert('쿠폰 정보를 가져오는데 실패했습니다.');
                }
            });
        });

        $(document).on('click', '.coupon-item', function () {
            $('.coupon-item').removeClass('selected'); // 기존 선택된 항목의 선택 해제
            $(this).addClass('selected'); // 현재 항목 선택 표시
            // 선택된 쿠폰 정보 업데이트
            selectedCoupon.couponId = $(this).data('couponid');
        });

        $("#applyCoupon").click(function () {
            // 선택된 쿠폰과 제품 ID, 현재 총 가격 정보를 가져옴
            let couponId = selectedCoupon.couponId;
            let productId = selectedCoupon.productID;
            let totalPrice = selectedCoupon.totalPrice;

            // 서버에 쿠폰 적용 요청을 보냄
            $.ajax({
                url: '/apply/coupon',
                method: 'POST',
                data: {
                    productID: productId,
                    couponID: couponId,
                    totalPrice: totalPrice
                },
                success: function(applyPrice) {
                    // 성공적으로 쿠폰이 적용된 최종 가격을 화면에 표시
                    $("#totalPrice").text(applyPrice.toLocaleString());
                    $("#hiddenTotalPrice").val(applyPrice); // hidden input에 최종 가격 업데이트

                    // 쿠폰 적용 정보를 업데이트하고 표시합니다.
                    var selectedCouponName = $('.coupon-item.selected').text();
                    $("#appliedCouponName").text(selectedCouponName);
                    $("#appliedCouponInfo").show();

                    $('#couponModal').modal('hide'); // 쿠폰 모달 닫기
                },
                error: function() {
                    alert('쿠폰 적용에 실패했습니다.');
                }
            });
        });

        // 수량 입력 필드 변경 시 총 가격 재계산
        $('input[type="number"][name="quantity"]').on("change", function () {
            calculateTotalPrice();
        });

        // 페이지 로드 시 총 가격 초기 계산
        calculateTotalPrice();

        function calculateTotalPrice() {
            let totalPrice = 0;
            $('tbody tr').each(function () {
                const price = parseFloat($(this).find('td[data-price]').data('price'));
                const quantity = parseInt($(this).find('input[type="number"]').val()) || 0;
                totalPrice += price * quantity;
            });

            // 총 가격 표시 및 hidden input 값 업데이트
            $("#totalPrice").text(totalPrice.toLocaleString());
            $("#hiddenTotalPrice").val(totalPrice);
        }

        $("#orderForm").submit(function (e) {
            // "무통장입금"이 아닌 결제 방식 선택 시
            if ($("#paymentMethod").val() !== "Bank Transfer" && $("#paymentResult").val() !== "success") {
                // 폼 제출을 막고 경고 메시지 표시
                e.preventDefault();
                alert("결제가 필요합니다.");
                return false;
            }
        });
    });

    paypal.Buttons({
        style: {
            layout: 'vertical', // or 'horizontal'
            color: 'gold', // or 'gold', 'blue', 'silver', 'white', 'black'
            shape: 'rect', // or 'pill'
            label: 'paypal', // or 'checkout', 'buynow', 'pay'
            size: 'responsive', // or 'small', 'medium', 'large', 'responsive' for automatic resizing
        },
        createOrder: function (data, actions) {
            // 결제 생성
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: '10.00' // 테스트 결제 금액
                    }
                }]
            });
        },
        onApprove: function (data, actions) {
            // 결제 승인
            return actions.order.capture().then(function (details) {
                alert('결제 완료: ' + details.payer.name.given_name);
                document.getElementById("paymentResult").value = "success";
                document.getElementById("orderForm").submit();
            });
        }
    }).render('#paypal-button-container');

</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
