<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>쿠폰 목록</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/common.css">
</head>
<style>

    /* 커스텀 스타일 예시 */
    .form-control {
        border-radius: 0.25rem; /* 모서리 둥글기 */
        border: 1px solid #ced4da; /* 테두리 색상 */
        background-color: #ffffff; /* 배경색 */
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, .075); /* 내부 그림자 효과 */
        padding: 0.375rem 0.75rem; /* 내부 여백 */
    }

    /* 포커스 시 */
    .form-control:focus {
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
    }

</style>
<body>
<div th:replace="~{common/navBar :: content}"></div>
<div class="container mt-4">
    <div class="row">
        <div th:replace="~{common/seller-page-sidebar :: sidebar}"></div>
        <!-- 메인 컨텐츠 시작 -->
        <div class="col-md-9 shadow">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h2>쿠폰 목록</h2>
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createCouponModal">쿠폰 생성
                </button>
            </div>
            <table class="table table-hover">
                <thead class="table-dark">
                <tr>
                    <th>쿠폰 이름</th>
                    <th>쿠폰 코드</th>
                    <th>유형</th>
                    <th>할인 금액/비율</th>
                    <th>유효 시작일</th>
                    <th>유효 종료일</th>
                    <th>개수</th>
                    <th>최소 주문 금액</th>
                    <th>작업</th>
                </tr>
                </thead>
                <tbody>
                <!-- 동적으로 데이터 생성 -->
                </tbody>
            </table>

            <!-- 페이지네이션 영역 -->
            <div class="mt-4">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <!-- 페이지네이션 버튼이 여기에 동적으로 생성됩니다 -->
                    </ul>
                </nav>
            </div>

            <!-- 쿠폰 생성을 위한 모달 창 -->
            <div class="modal fade" id="createCouponModal" tabindex="-1" aria-labelledby="createCouponModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="createCouponModalLabel">새 쿠폰 생성</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form id="createCouponForm" method="post" class="modal-body">


                            <!-- 이름 필드 -->
                            <div class="form-group">
                                <label for="name" class="form-label">이름</label>
                                <input type="text" id="name" name="name"class="form-control"
                                       placeholder="이름 입력" required>
                            </div>

                            <!-- 설명 필드 -->
                            <div class="form-group">
                                <label for="description" class="form-label">설명</label>
                                <input type="text" id="description" name="description"
                                       class="form-control" placeholder="설명 입력" required>
                            </div>

                            <div class="form-group">
                                <label for="minimumOrderAmount">최소 주문 금액</label>
                                <input type="text" class="form-control" id="minimumOrderAmount"
                                       placeholder="최소 주문 금액 입력" required>
                            </div>
                            <!-- 최대할인금액 필드 -->
                            <div class="form-group">
                                <label for="maxDiscountAmount" class="form-label">최대할인금액</label>
                                <input type="number" id="maxDiscountAmount" name="maxDiscountAmount"
                                       class="form-control"
                                       placeholder="최대할인금액 입력" required>
                            </div>
                            <div class="form-group">
                                <label for="couponType">쿠폰 유형</label>
                                <select class="form-control" id="couponType" required>
                                    <option th:value="AMOUNT_DISCOUNT">할인 금액</option>
                                    <option th:value="PERCENTAGE_DISCOUNT">할인 비율</option>
                                    <option th:value="FREE_SHIPPING">무료 배송</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="discountValue">할인 값</label>
                                <input type="text" class="form-control" id="discountValue" placeholder="할인 금액 또는 비율 입력"
                                        required>
                            </div>
                            <div class="form-group">
                                <label for="validFromDate">유효 시작일</label>
                                <input type="datetime-local" class="form-control" id="validFromDate"
                                       name="validFromDateTime" required>
                            </div>
                            <div class="form-group">
                                <label for="validUntilDate">유효 종료일</label>
                                <input type="datetime-local" class="form-control" id="validUntilDate"
                                       name="validUntilDateTime" required>
                            </div>
                            <div class="form-group">
                                <label for="quantity">쿠폰 수량</label>
                                <input type="number" class="form-control" id="quantity" placeholder="쿠폰 수량 입력"
                                       required>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                                <button type="submit" class="btn btn-primary">쿠폰 발행</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- 적용되는 상품 관리 모달 -->
            <div class="modal fade" id="manageApplicableProductsModal" tabindex="-1"
                 aria-labelledby="manageApplicableProductsModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="manageApplicableProductsModalLabel">적용되는 상품 관리</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!-- 상품 검색 및 적용 상품 리스트 표시 영역 -->
                            <!-- 상품 검색 입력 필드 -->
                            <input type="text" id="searchProductForCoupon" class="form-control mb-2"
                                   placeholder="상품명으로 검색">
                            <!-- 상품 검색 버튼 -->
                            <button type="button" class="btn btn-primary mb-2" onclick="searchProductForCoupon()">검색
                            </button>
                            <!-- 검색 결과 표시 영역 -->
                            <div id="searchResultsForCoupon" class="mb-2"></div>
                            <!-- 적용 상품 리스트 표시 -->
                            <div id="applicableProductsList"></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                            <button type="button" class="btn btn-primary" onclick="saveApplicableProducts()">저장</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 수정을 위한 모달 창 -->
            <div class="modal fade" id="editCouponModal" tabindex="-1" aria-labelledby="editCouponModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editCouponModalLabel">쿠폰 수정</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form method="post" id="editCouponForm">
                            <div class="modal-body">
                                <input type="hidden" name="couponID" id="editCouponID" required>
                                <!-- 이름 -->
                                <div class="mb-3">
                                    <label for="name">이름</label>
                                    <input class="form-control" type="text" name="name"
                                           placeholder="이름 입력" required>
                                </div>
                                <!-- 설명 -->
                                <div class="mb-3">
                                    <label for="description">설명</label>
                                    <input class="form-control" type="text" name="description"
                                           placeholder="설명 입력" required>
                                </div>

                                <!-- 최소 주문 금액 -->
                                <div class="mb-3">
                                    <label for="editMinimumOrderAmount" class="form-label">최소 주문 금액</label>
                                    <input type="text" class="form-control" id="editMinimumOrderAmount"
                                           name="minimumOrderAmount" placeholder="최소 주문 금액을 입력해주세요" required>
                                </div>
                                <!-- 최대할인금액 -->
                                <div class="mb-3">
                                    <label for="editMaxDiscountAmount">최대할인금액</label>
                                    <input type="text" class="form-control" id="editMaxDiscountAmount"
                                           name="maxDiscountAmount"
                                           placeholder="최대할인금액 입력" required>
                                </div>
                                <!-- 유효 종료일 -->
                                <div class="mb-3">
                                    <label for="editValidUntilDate" class="form-label">유효 종료일</label>
                                    <input type="datetime-local" class="form-control" id="editValidUntilDate"
                                           name="validUntilDate" required>
                                </div>
                                <!-- 개수 -->
                                <div class="mb-3">
                                    <label for="editQuantity" class="form-label">개수</label>
                                    <input type="number" class="form-control" id="editQuantity" name="quantity"
                                           required>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                                <button type="submit" class="btn btn-primary">저장</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function () {
        const sellerID = [[${sellerID}]];
        let currentPage = 1; // 현재 페이지 초기값 설정

        loadCoupons(currentPage);

        function loadCoupons(page) {
            currentPage = page; // 현재 페이지 업데이트
            const apiUrl = `/api/coupon/seller/${sellerID}?page=${currentPage}`; // API URL 동적으로 업데이트
            axios.get(apiUrl)
                .then(function (response) {
                    const coupons = response.data.coupons;
                    const totalPages = response.data.totalPages;
                    const currentPage = response.data.currentPage;
                    const couponListElement = document.querySelector('tbody');
                    couponListElement.innerHTML = '';

                    coupons.forEach(coupon => {
                        const row = document.createElement('tr');

                        row.innerHTML = `
                    <td>${coupon.name}</td>
                    <td>${coupon.code}</td>
                    <td>${coupon.type}</td>
                    <td>${coupon.discount}</td>
                    <td>${coupon.validFrom}</td>
                    <td>${coupon.validUntil}</td>
                    <td>${coupon.quantity}</td>
                    <td>${coupon.minimumOrderAmount}</td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">작업
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#" class="dropdown-item" data-bs-toggle="modal">쿠폰 수정</a></li>
                                <li><button class="dropdown-item deleteCoupon">쿠폰 삭제</button></li>
                                <li><a href="#" class="dropdown-item">적용되는 상품 관리</a></li>
                            </ul>
                        </div>
                    </td>
                `;

                        couponListElement.appendChild(row);
                        updatePagination(totalPages, currentPage);
                    });
                })
                .catch(function (error) {
                    console.log(error);
                    alert('쿠폰 정보를 불러오는 데 실패했습니다.');
                });
        }
        function updatePagination(totalPages, currentPage) {
            var paginationUl = $('.pagination');
            paginationUl.empty(); // 페이지네이션 내용 초기화

            // 이전 페이지 버튼
            $('<li>').addClass('page-item').toggleClass('disabled', currentPage === 1)
                .append($('<a>').addClass('page-link').attr('href', '#').text('이전').click(function (e) {
                    e.preventDefault();
                    if (currentPage > 1) loadCoupons(currentPage - 1);
                }))
                .appendTo(paginationUl);

            // 페이지 번호 버튼들
            for (let i = 1; i <= totalPages; i++) {
                $('<li>').addClass('page-item').toggleClass('active', i === currentPage)
                    .append($('<a>').addClass('page-link').attr('href', '#').text(i).click(function (e) {
                        e.preventDefault();
                        loadCoupons(i);
                    }))
                    .appendTo(paginationUl);
            }

            // 다음 페이지 버튼
            $('<li>').addClass('page-item').toggleClass('disabled', currentPage === totalPages)
                .append($('<a>').addClass('page-link').attr('href', '#').text('다음').click(function (e) {
                    e.preventDefault();
                    if (currentPage < totalPages) loadCoupons(currentPage + 1);
                }))
                .appendTo(paginationUl);
        }

        $("#editModalBtn").on("click", function () {
            let id = $(this).data("coupon-id");

            $.ajax({
                type: "get",
                url: "/api/coupon/"+id,
                success: function (response) {
                    $("#editCouponID").val(response.couponID);
                    $("#editCouponForm input[name='name']").val(response.name);
                    $("#editCouponForm input[name='description']").val(response.description);
                    $("#editMinimumOrderAmount").val(response.minimumOrderAmount);
                    $("#editMaxDiscountAmount").val(response.maxDiscountAmount);
                    $("#editValidUntilDate").val(formatDateTime(response.validUntil));
                    $("#editQuantity").val(response.quantity);
                },
                error: function (response) {
                    alert("Error: " + response.responseJSON.message);
                }
            });
        });

        function formatDateTime(validUntilArray) {
            var year = validUntilArray[0];
            var month = validUntilArray[1].toString().padStart(2, '0');
            var day = validUntilArray[2].toString().padStart(2, '0');
            var hour = validUntilArray[3].toString().padStart(2, '0');
            var minute = validUntilArray[4].toString().padStart(2, '0');

            return `${year}-${month}-${day}T${hour}:${minute}`;
        }

        // 쿠폰 생성
        $("#createCouponForm").submit(function (event) {
            event.preventDefault();
            var formData = {
                name: $("#name").val(),
                description: $("#description").val(),
                minimumOrderAmount: $("#minimumOrderAmount").val(),
                maxDiscountAmount: $("#maxDiscountAmount").val(),
                type: $("#couponType").val(),
                discount: $("#discountValue").val(),
                validFrom: $("#validFromDate").val(),
                validUntil: $("#validUntilDate").val(),
                quantity: $("#quantity").val()
            };
            $.ajax({
                type: "POST",
                url: "/api/coupon",
                contentType: "application/json",
                data: JSON.stringify(formData),
                success: function (response) {
                    alert(response.message);
                    location.reload(); // 성공 시 페이지를 다시 불러옵니다.
                },
                error: function (response) {
                    alert("Error: " + response.responseJSON.message);
                }
            });
        });

        // 쿠폰 수정
        $("#editCouponForm").submit(function (event) {
            event.preventDefault();
            var formData = {
                name: $("#editCouponForm input[name='name']").val(),
                description: $("#editCouponForm input[name='description']").val(),
                minimumOrderAmount: $("#editMinimumOrderAmount").val(),
                maxDiscountAmount: $("#editMaxDiscountAmount").val(),
                validUntil: $("#editValidUntilDate").val(),
                quantity: $("#editQuantity").val()
                // 쿠폰 유형, 할인 값 등 필요한 나머지 필드 추가
            };
            var couponID = $("#editCouponID").val();
            $.ajax({
                type: "PUT",
                url: "/api/coupon/" + couponID,
                contentType: "application/json",
                data: JSON.stringify(formData),
                success: function (response) {
                    alert(response.message);
                    location.reload(); // 성공 시 페이지를 다시 불러옵니다.
                },
                error: function (response) {
                    alert("Error: " + response.responseJSON.message);
                }
            });
        });

        // 쿠폰 삭제
        $(".deleteCoupon").click(function () {
            const couponID = $(this).data("coupon-id");
            $.ajax({
                type: "DELETE",
                url: "/api/coupon/" + couponID,
                success: function (response) {
                    alert(response.message);
                    location.reload(); // 성공 시 페이지를 다시 불러옵니다.
                },
                error: function (response) {
                    alert("Error: " + response.responseJSON.message);
                }
            });
        });
    });
    /*]]>*/
</script>
</body>
</html>
