<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>쿠폰 목록</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
</head>
<body>
<div th:replace="~{seller/common/navBar :: content}"></div>
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>쿠폰 목록</h2>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createCouponModal">쿠폰 생성</button>
    </div>
    <table class="table table-hover">
        <thead class="table-dark">
        <tr>
            <th>쿠폰 코드</th>
            <th>유형</th>
            <th>할인 금액/비율</th>
            <th>유효 시작일</th>
            <th>유효 종료일</th>
            <th>개수</th>
            <th>최소 주문 금액</th>
            <th>작업</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="coupon : ${couponList}">
            <td th:text="${coupon.code}"></td>
            <td th:text="${coupon.type.getDescription()}"></td>
            <td th:text="${coupon.discount}"></td>
            <td th:text="${#temporals.format(coupon.validFrom, 'yyyy년 MM월 dd일 hh시 mm분')}"></td>
            <td th:text="${#temporals.format(coupon.validUntil, 'yyyy년 MM월 dd일 hh시 mm분')}"></td>
            <td th:text="${coupon.quantity}"></td>
            <td th:text="${coupon.minimumOrderAmount}"></td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        작업
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a href="#" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#editCouponModal" th:data-coupon-id="${coupon.couponID}">쿠폰 수정</a></li>
                        <li><a th:href="@{'/coupon/delete/' + ${coupon.couponID}}" class="dropdown-item">쿠폰 삭제</a></li>
                        <li><a th:href="@{'/coupon/select/' + ${coupon.couponID}}" class="dropdown-item">적용되는 상품 관리</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- 쿠폰 생성을 위한 모달 창 -->
    <div class="modal fade" id="createCouponModal" tabindex="-1" aria-labelledby="createCouponModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createCouponModalLabel">새 쿠폰 생성</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form th:object="${coupon}" th:action="@{/coupon/generate}" method="post" class="modal-body">
                    <div class="form-group">
                        <label for="couponType">쿠폰 유형</label>
                        <select class="form-control" id="couponType" th:field="${coupon.type}" required>
                            <option th:value="AMOUNT_DISCOUNT">할인 금액</option>
                            <option th:value="PERCENTAGE_DISCOUNT">할인 비율</option>
                            <option th:value="FREE_SHIPPING">무료 배송</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="discountValue">할인 값</label>
                        <input type="text" class="form-control" id="discountValue" placeholder="할인 금액 또는 비율 입력" th:field="${coupon.discount}" required>
                    </div>
                    <div class="form-group">
                        <label for="validFromDate">유효 시작일</label>
                        <input type="date" class="form-control" id="validFromDate" name="validFromDate" required>
                        <input type="time" class="form-control" id="validFromTime" name="validFromTime" required>
                    </div>
                    <div class="form-group">
                        <label for="validUntilDate">유효 종료일</label>
                        <input type="date" class="form-control" id="validUntilDate" name="validUntilDate" required>
                        <input type="time" class="form-control" id="validUntilTime" name="validUntilTime" required>
                    </div>
                    <div class="form-group">
                        <label for="quantity">쿠폰 수량</label>
                        <input type="number" class="form-control" id="quantity" placeholder="쿠폰 수량 입력" th:field="${coupon.quantity}" required>
                    </div>
                    <div class="form-group">
                        <label for="minimumOrderAmount">최소 주문 금액</label>
                        <input type="text" class="form-control" id="minimumOrderAmount" placeholder="최소 주문 금액 입력" th:field="${coupon.minimumOrderAmount}" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                        <button type="submit" class="btn btn-primary">쿠폰 발행</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- 적용되는 상품 관리 모달 -->
    <div class="modal fade" id="manageApplicableProductsModal" tabindex="-1" aria-labelledby="manageApplicableProductsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="manageApplicableProductsModalLabel">적용되는 상품 관리</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- 상품 검색 및 적용 상품 리스트 표시 영역 -->
                    <!-- 상품 검색 입력 필드 -->
                    <input type="text" id="searchProductForCoupon" class="form-control mb-2" placeholder="상품명으로 검색">
                    <!-- 상품 검색 버튼 -->
                    <button type="button" class="btn btn-primary mb-2" onclick="searchProductForCoupon()">검색</button>
                    <!-- 검색 결과 표시 영역 -->
                    <div id="searchResultsForCoupon" class="mb-2"></div>
                    <!-- 적용 상품 리스트 표시 -->
                    <div id="applicableProductsList"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    <button type="button" class="btn btn-primary" onclick="saveApplicableProducts()">저장</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 수정을 위한 모달 창 -->
    <div class="modal fade" id="editCouponModal" tabindex="-1" aria-labelledby="editCouponModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editCouponModalLabel">쿠폰 수정</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form th:action="@{/coupon/edit}" method="post">
                    <div class="modal-body">
                        <input type="hidden" name="couponID" id="editCouponID" required>
                        <!-- 유효 종료일 -->
                        <div class="mb-3">
                            <label for="editValidUntilDate" class="form-label">유효 종료일</label>
                            <input type="date" class="form-control" id="editValidUntilDate" name="validUntilDate" required>
                            <input type="time" class="form-control" id="editValidUntilTime" name="validUntilTime" required>
                        </div>
                        <!-- 개수 -->
                        <div class="mb-3">
                            <label for="editQuantity" class="form-label">개수</label>
                            <input type="number" class="form-control" id="editQuantity" name="quantity" required>
                        </div>
                        <!-- 최소 주문 금액 -->
                        <div class="mb-3">
                            <label for="editMinimumOrderAmount" class="form-label">최소 주문 금액</label>
                            <input type="text" class="form-control" id="editMinimumOrderAmount" name="minimumOrderAmount" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                        <button type="submit" class="btn btn-primary">저장</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script>
    $('#editCouponModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // 모달을 열기 위해 클릭된 버튼
        var couponId = button.data('coupon-id');
        var validUntilDate = button.data('coupon-valid-until-date');
        var validUntilTime = button.data('coupon-valid-until-time');
        var quantity = button.data('coupon-quantity');
        var minimumOrderAmount = button.data('coupon-minimum-order-amount');

        var modal = $(this);
        modal.find('.modal-body #editCouponID').val(couponId);
        modal.find('.modal-body #editValidUntilDate').val(validUntilDate);
        modal.find('.modal-body #editValidUntilTime').val(validUntilTime);
        modal.find('.modal-body #editQuantity').val(quantity);
        modal.find('.modal-body #editMinimumOrderAmount').val(minimumOrderAmount);
    });

</script>
</body>
</html>
