<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>마이페이지</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/css/common.css">
</head>
<body>
<div th:replace="~{common/navBar :: content}"></div>

<div class="container mt-4">
    <div class="row">
        <div th:replace="~{common/mypage-sidebar :: sidebar}"></div>

        <!-- 메인 컨텐츠 시작 -->
        <div class="col-md-9">
            <h2>배송지 관리</h2>
            <div>
                <button id="create-shipping-address" class="btn btn-primary">새 배송지 추가</button>
            </div>
            <div class="mt-3">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">수령인</th>
                        <th scope="col">주소</th>
                        <th scope="col">상세 주소</th>
                        <th scope="col">우편번호</th>
                        <th scope="col">연락처</th>
                        <th scope="col">작업</th>
                    </tr>
                    </thead>
                    <tbody id="addressList">
                    <!-- 배송지 정보가 여기에 동적으로 삽입됩니다. -->
                    </tbody>

                </table>
            </div>
        </div>
        <!-- 메인 컨텐츠 끝 -->
    </div>
</div>

<div class="modal fade" id="createAddressModal" tabindex="-1" aria-labelledby="createAddressModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createAddressModalLabel">새 배송지 추가</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="createAddressForm">
                    <div class="form-group">
                        <label for="recipientNameCreate">수령인</label>
                        <input type="text" class="form-control" id="recipientNameCreate" required>
                    </div>
                    <button type="button" class="btn btn-outline-secondary address-btn" id="create-search">주소 검색</button>
                    <div class="form-group">
                        <label for="addressCreate">주소</label>
                        <input type="text" class="form-control" id="addressCreate" required>
                    </div>
                    <div class="form-group">
                        <label for="detailAddressCreate">상세 주소</label>
                        <input type="text" class="form-control" id="detailAddressCreate" required>
                    </div>
                    <div class="form-group">
                        <label for="zipCodeCreate">우편번호</label>
                        <input type="text" class="form-control" id="zipCodeCreate" required>
                    </div>
                    <div class="form-group">
                        <label for="phoneNumberCreate">연락처</label>
                        <input type="text" class="form-control" id="phoneNumberCreate" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="saveNewAddress">저장</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="updateAddressModal" tabindex="-1" aria-labelledby="updateAddressModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateAddressModalLabel">배송지 수정</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="updateAddressForm">
                    <input type="hidden" id="addressIdUpdate">
                    <div class="form-group">
                        <label for="recipientNameUpdate">수령인</label>
                        <input type="text" class="form-control" id="recipientNameUpdate" required>
                    </div>
                    <button type="button" class="btn btn-outline-secondary address-btn" id="update-search">주소 검색</button>
                    <div class="form-group">
                        <label for="addressUpdate">주소</label>
                        <input type="text" class="form-control" id="addressUpdate" required>
                    </div>
                    <div class="form-group">
                        <label for="detailAddressUpdate">상세 주소</label>
                        <input type="text" class="form-control" id="detailAddressUpdate" required>
                    </div>
                    <div class="form-group">
                        <label for="zipCodeUpdate">우편번호</label>
                        <input type="text" class="form-control" id="zipCodeUpdate" required>
                    </div>
                    <div class="form-group">
                        <label for="phoneNumberUpdate">연락처</label>
                        <input type="text" class="form-control" id="phoneNumberUpdate" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="updateAddress">저장</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>


<div th:replace="~{common/footer :: footer}"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    $(document).ready(function() {
        getAddressList();

        function getAddressList() {
            $.ajax({
                url: '/api/shipping-address',
                type: 'GET',
                contentType: 'application/json',
                success: function(response) {
                    var tableBody = $('#addressList');
                    tableBody.empty();

                    response.forEach(function(address) {
                        var row = $('<tr></tr>');
                        row.append($('<td></td>').text(address.recipientName));
                        row.append($('<td></td>').text(address.address));
                        row.append($('<td></td>').text(address.detailAddress));
                        row.append($('<td></td>').text(address.zipCode));
                        row.append($('<td></td>').text(address.phoneNumber));
                        row.append($('<td></td>').html('<a href="#" class="btn btn-sm btn-secondary update-btn" data-address-id="'+address.id+'">수정</a> ' +
                            '<a href="#" class="btn btn-sm btn-danger delete-btn" data-address-id="'+address.id+'">삭제</a>'));
                        tableBody.append(row);
                    });
                },
                error: function(error) {
                    alert('배송지 정보를 불러오는 데 실패했습니다.');
                }
            });
        }

        $('#create-shipping-address').click(function() {
            $('#createAddressModal').modal('show');
        });



        $('#saveNewAddress').click(function(e) {
            let recipientName = $('#recipientNameCreate').val().trim();
            let address = $('#addressCreate').val().trim();
            let detailAddress = $('#detailAddressCreate').val().trim();
            let zipCode = $('#zipCodeCreate').val().trim();
            let phoneNumber = $('#phoneNumberCreate').val().trim();

            if (!recipientName || !address || !detailAddress || !zipCode || !phoneNumber) {
                alert('모든 필드를 채워주세요.');
                return;
            }
            const addressData = {
                recipientName: recipientName,
                address: address,
                detailAddress: detailAddress,
                zipCode: zipCode,
                phoneNumber: phoneNumber
            };

            $.ajax({
                url: '/api/shipping-address',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(addressData),
                success: function(response) {
                    $('#createAddressModal').modal('hide');
                    alert(response.message);
                    location.reload();
                },
                error: function(error) {
                    alert(error.responseJSON.message);
                }
            });
        });
        // 배송지 수정 버튼 클릭 이벤트 처리
        $(document).on('click', '.update-btn', function() {
            const addressId = $(this).data("address-id");
            $.ajax({
                url: '/api/shipping-address/one',
                type: 'get',
                contentType: 'application/json',
                data: {
                    addressId : addressId
                },
                success: function(response) {
                    $('#recipientNameUpdate').val(response.recipientName);
                    $('#addressUpdate').val(response.address);
                    $('#detailAddressUpdate').val(response.detailAddress);
                    $('#zipCodeUpdate').val(response.zipCode);
                    $('#phoneNumberUpdate').val(response.phoneNumber);
                    $('#addressIdUpdate').val(response.id);
                    $('#updateAddressModal').modal('show');
                },
                error: function(error) {
                    alert(error.responseJSON.message);
                }
            });

        });
        // Update address
        $('#updateAddress').click(function() {
            const addressId = $('#addressIdUpdate').val();
            const recipientName = $('#recipientNameUpdate').val().trim();
            const address = $('#addressUpdate').val().trim();
            const detailAddress = $('#detailAddressUpdate').val().trim();
            const zipCode = $('#zipCodeUpdate').val().trim();
            const phoneNumber = $('#phoneNumberUpdate').val().trim();

            if (!recipientName || !address || !detailAddress || !zipCode || !phoneNumber) {
                alert('모든 필드를 채워주세요.');
                return;
            }

            const addressData = {
                id: addressId,
                recipientName: recipientName,
                address: address,
                detailAddress: detailAddress,
                zipCode: zipCode,
                phoneNumber: phoneNumber
            };

            $.ajax({
                url: '/api/shipping-address',
                type: 'PATCH',
                contentType: 'application/json',
                data: JSON.stringify(addressData),
                success: function(response) {
                    $('#updateAddressModal').modal('hide');
                    alert(response.message);
                    location.reload();
                },
                error: function(error) {
                    alert(error.responseJSON.message);
                }
            });
        });

        // 배송지 삭제 버튼 클릭 이벤트 처리
        $(document).on('click', '.delete-btn', function() {
            var addressId = $(this).data('address-id');

            if(confirm('이 배송지를 삭제하시겠습니까?')) {
                $.ajax({
                    url: '/api/shipping-address/'+addressId,
                    type: 'DELETE',
                    success: function(response) {
                        alert(response.message);
                        location.reload();
                    },
                    error: function(error) {
                        alert(error.responseJSON.message);
                    }
                });
            }
        });

        // 주소 검색 버튼 클릭 이벤트
        $('.address-btn').click(function() {
            var type = $(this).attr('id');
            searchAddress(type);
        });

        function searchAddress(type) {
            console.log(type)
            new daum.Postcode({
                oncomplete: function(data) {
                    if (type === "create-search") {
                        console.log(data.address);
                        $('#addressCreate').val(data.address);
                        $('#zipCodeCreate').val(data.zonecode);
                        $('#detailAddressCreate').focus();
                    } else if (type === "update-search") {
                        $('#addressUpdate').val(data.address);
                        $('#zipCodeUpdate').val(data.zonecode);
                        $('#detailAddressUpdate').focus();
                    }
                }
            }).open();
        }
    });


</script>
</body>
</html>
