.card, .content-card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.price {
    color: #28a745;
    font-weight: bold;
    font-size: 1.4em;
}

.product-description p {
    margin-bottom: 10px;
}

.description-section {
    text-align: center;
    margin-bottom: 100px;
}

.product-description {
    max-height: 1000px; /* 최대 높이 제한 */
    overflow: hidden; /* 내용이 넘치면 숨김 */
    transition: max-height 0.5s ease; /* 부드러운 전환 효과 */
}

#toggleDescription {
    width: 40%; /* 상품 설명의 너비에 맞게 조정 */
    padding: 10px 0; /* 적절한 패딩으로 높이 조정 */
    background-color: white; /* 배경색을 하얀색으로 설정 */
    color: black; /* 글자색을 검은색으로 설정 */
    border-color: black; /* 테두리 제거 */
    border-radius: 5px; /* 모서리 둥글게 */
    font-weight: bold; /* 글자를 굵게 설정 */
    transition: background-color 0.3s, color 0.3s; /* 호버 효과를 위한 전환 */
}

#toggleDescription:hover {
    background-color: #f0f0f0; /* 호버 시 배경색 변경 */
    color: #007bff; /* 호버 시 글자색 변경 */
    cursor: pointer; /* 마우스 오버 시 커서 변경 */
}


.product-description-container {
    position: relative;
}

.more-content {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background-image: linear-gradient(to bottom, transparent, white); /* 배경 흐림 효과 */
}


.section-title {
    font-size: 24px;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 20px;
    text-align: center;
}

.nav-tabs .nav-link {
    border: none;
    border-bottom: 3px solid transparent;
    color: #007bff;
    margin-right: 5px;
}


.tab-content > .tab-pane {
    padding: 20px;
    border: 1px solid #e3e3e3;
    border-top: none;
    border-radius: 0 0 10px 10px;
}
.tab-pane {
    margin-bottom: 50px;
}

/* 섹션 제목 */
.section-title {
    font-size: 24px;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 20px;
    text-align: center;
}

/* 각 섹션의 배경색 및 여백 설정 */
.section-content {
    background-color: #ffffff; /* 배경색을 흰색으로 설정 */
    padding: 20px; /* 콘텐츠 주변에 여백 추가 */
    margin-top: 20px; /* 섹션 간 간격 설정 */
    border-radius: 10px; /* 섹션의 테두리를 둥글게 설정 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1); /* 섹션에 그림자 효과 추가 */
}

/* 각 섹션의 콘텐츠 텍스트 스타일 */
.section-content p {
    font-size: 1.2em;
    color: #333333; /* 텍스트 색상을 어두운 회색으로 설정 */
    margin-bottom: 10px;
}
/* 추가된 스타일 */
#sticky-tab {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    max-width: calc(100% - 10px); /* container의 폭에서 좌우 여백을 뺀 값 */
    /* 오른쪽 정렬을 위해 왼쪽 여백을 자동 조절 */
    margin: 30px auto 100px;
    display: flex;
    justify-content: center;
    width: 100%;
}
.nav-link {
    text-align: center; /* 탭 내비게이션 텍스트 중앙 정렬 */
}

.card-body {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-size: 28px;
    color: #333;
    margin-bottom: 15px;
}

.card-text {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
    margin-bottom: 15px;
}

.card-text strong {
    color: #333;
}

.btn-group .btn {
    margin-right: 5px;
}

.icon-button {
    background: none;
    border: none;
    font-size: 20px;
    color: #007bff;
}

.icon-button:hover {
    color: #0056b3;
}

.rating-stars {
    color: #ffd700;
}
.btn-custom-primary {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.btn-custom-primary:hover {
    background-color: #0056b3;
    color: white;
}

.btn-custom-secondary {
    background-color: #6c757d;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.btn-custom-secondary:hover {
    background-color: #545b62;
    color: white;
}

.btn-custom-success {
    background-color: #28a745;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.btn-custom-success:hover {
    background-color: #218838;
    color: white;
}

.icon-button {
    font-size: 24px;
    color: #007bff;
    background-color: transparent;
    border: none;
    padding: 0;
}

.icon-button:hover {
    color: #0056b3;
}

/* 이미지 슬라이더의 커스텀 스타일 */
.carousel-indicators [data-bs-target] {
    background-color: #007bff; /* 인디케이터 색상을 설정합니다 */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #007bff; /* 화살표 버튼의 배경 색상을 설정합니다 */
    border-radius: 50%; /* 화살표 버튼을 원형으로 만듭니다 */
    padding: 10px; /* 버튼 크기를 조절합니다 */
}

.product-seller {
    color: #007bff;
    font-size: 13px;
    margin-bottom: 0;
}

.text-no-decoration {
    text-decoration: none;
    color: black;
}

.category {
    margin-bottom: 10px;
}


.filled-star {
    color: #ffd700;
}

.inquiry {
     background-color: #f9f9f9;
 }

.inquiry-question strong, .inquiry-answer strong {
    color: #007bff;
}

.inquiry-answer {
    padding-left: 20px;
    border-left: 3px solid #007bff;
}

.section-content {
    margin-top: 20px;
}
.modal-dialog {
    display: flex;
    align-items: center;
    min-height: calc(100% - (.5rem * 2));
}

.modal-dialog-centered {
    margin: 0 auto;
}