<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>마이페이지</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <style>
        .form-group {
            margin-bottom: 15px;
        }

        label {
            margin-bottom: 5px;
            font-weight: bold;
        }

        .btn-primary {
            width: 100%;
            padding: 10px;
            font-size: 16px;
        }

        #inquiryForm input, #inquiryForm textarea, #inquiryForm select {
            border-radius: 5px;
        }

        #inquiryForm textarea {
            resize: vertical;
        }
    </style>
</head>
<body>
<div th:replace="~{common/navBar :: content}"></div>

<div class="container mt-4">
    <div class="row">
        <div th:replace="~{common/mypage-sidebar :: sidebar}"></div>

        <!-- 메인 컨텐츠 시작 -->
        <div class="col-md-9 shadow">
            <h2 class="mb-4 center-align">고객센터 문의</h2>
            <!-- 문의 생성 폼 -->
            <div class="mt-5">
                <form th:action="@{/inquiry}" id="inquiryForm" method="post">
                    <label for="inquiryType">제목</label>
                    <input class="form-control" type="text" name="title" id="title">
                    <div class="form-group">
                        <label for="inquiryType">문의 유형</label>
                        <select class="form-control" id="inquiryType" name="type">
                            <option value="GENERAL">일반 문의</option>
                            <option value="COMPLAINT">불만 사항</option>
                            <option value="TECH_SUPPORT">기술 지원</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="inquiryContent">문의 내용</label>
                        <textarea class="form-control" id="inquiryContent" name="inquiryContent" rows="12"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">문의하기</button>
                </form>
            </div>
        </div>
        <!-- 메인 컨텐츠 끝 -->
    </div>
</div>

<div th:replace="~{common/footer :: footer}"></div>
<script>
    $(document).ready(function() {
        $('#inquiryForm').on('submit', function(e) {
            e.preventDefault();

            var formData = {
                title: $('#title').val(),
                inquiryContent: $('#inquiryContent').val(),
                inquiryType: $('#inquiryType').val()
            };

            $.ajax({
                url: '/api/inquiry',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(formData),
                success: function(response) {
                    alert(response.message);
                    location.href = "/inquiries"
                },
                error: function(xhr, status, error) {
                    alert(error);
                    // 실패 시 처리할 로직 추가
                }
            });
        });
    });
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
